.container {
    color: #545454;
    width: 400px;
    height: 140px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    margin: 6px 0;
}

.box {
    width: calc(100% - 6px);
    height: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 10px;
    color: #545454;
    font-weight: normal;
}

.line {
    width: 6px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.lineHigh {
    background-color: #ff6b6b;
}

.lineMedium {
    background-color: #4d96ff;
}

.lineLow {
    background-color: #6bcf9b;
}

.priorityDateBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    margin-top: 10px;
}

.titleBox {
    width: 260px;
    height: 100%;
    text-align: start;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.descriptionBox {
    width: 360px;
    height: 40%;
    text-align: start;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priorityBox {
    width: 100%;
    display: flex;
    font-size: 16px;
    align-items: end;
}

.dateBox {
    display: flex;
    font-size: 14px;
    width: 100px;
    align-items: end;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.btnBox {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 10px;
    padding: 4px;
}

.deleteImage {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.moreImage {
    width: 18px;
    height: 18px;
}