.container {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #747bff 2px solid;
}

.searchBarImage {
    margin: 2px 0 0 10px;
    width: 22px;
    height: 22px;
}

.input {
    border: none;
    color: #858585;
    font-size: 18px;
    height: calc(100% - 4px);
    width: calc(100% - 50px);
    outline: none;
    background-color: white;
    border-radius: 10px;
}